body {
    background-color: rgba(31, 31, 31, 0.164);
    margin: 0;
    padding: 0;

}

.top ul{
    display: flex;
    color: rgb(0, 0, 0);
    list-style: none;
    list-style-position: inside;
    padding: 10px;
    text-indent: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 2px;


}

.top ul img {
    height: 15px;
    cursor: pointer;

}

.lefft nav ul {
    display: flex;
    list-style: none;
    list-style-position: inside;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;

}

.lefft nav ul img {
    height: 25px;
    cursor: pointer;
}
.info{
    position: sticky;
    margin-top: 38px;
}
.info nav ul {

    background-color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    list-style: none;
    list-style-position: inside;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
    display: flex;
    gap:20px;

}

.info a {
    color: rgb(57, 92, 0);
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;

}

#catt {
    border: none;
    border-radius: 20px;
    scroll-behavior: smooth;
    color: rgb(57, 92, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;

}

#catt:hover {
    color: rgb(36, 36, 35);
    background-color: rgb(204, 195, 182);

}

.bgimg img {
    margin-left: 20px;
    margin-right: 20px;
    height: 928px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;

}
.contents {
    position: absolute;
    text-transform: uppercase;
      top: 55em;
    right:80px;
    line-height: 1px;
    text-shadow: 2px 6px 6px rgb(255, 255, 255);
 }
 .bath{
    color: rgb(29, 93, 69);
    font-family: "Young Serif", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
 }
 .prem{
    color: #000c03;
    font-family: "Young Serif", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 30px;
 }
#logo {
    position: relative;
    color: rgb(104, 92, 92);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-style:normal;
cursor: pointer;
text-shadow: 0px 5px 5px rgb(157, 151, 151);
}

.info ul li a:hover {
    color: rgb(36, 36, 35);
    background-color: rgb(204, 195, 182);
}
.accessris{
    text-align: center;
    color: rgb(61, 38, 38);
    font-size: 20px;
    line-height: 10px;

}
.sinks{
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.sinkspics{
    text-align: center;
    color: rgb(53, 96, 77);
  
}

.sinkspics img{
    height: 300px;
    margin-top: 50px;
    border-radius: 8px;
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
}
.basinh{
    text-align: center;
    color: rgb(61, 38, 38);
    font-weight: 400;
    font-size: 25px;
}
.basins{
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.basinpics{
    text-align: center;
    color: rgb(53, 96, 77);
}
.basinpics img{
    height: 300px;
    margin-top: 50px;
    border-radius: 8px;
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
}
.commo{
    text-align: center;
    color: rgb(61, 38, 38);
    font-weight: 400;
    font-size: 25px;  
}
.commopaur{
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;  
}
.copaur{
    text-align: center;
    color: rgb(53, 96, 77); 
}
.copaur img{
    height: 300px;
    margin-top: 50px;
    border-radius: 8px;
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
}
.bathaccessories{
    text-align: center;
    color: rgb(61, 38, 38);
    font-weight: 400;
    font-size: 25px; 
}
.bathaccessoriespic{
    background-color: rgb(105, 102, 102);
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 5px;
}
.accesssris{
    text-align: center;
    color: rgb(237, 222, 222);
    line-height: 1px;
    padding-bottom: 30px;
}
.accesssris img{
    height: 200px;
    margin-top: 10px;
    border-radius: 120px;
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
}
.batan{
    text-align: center;
    
}
.batan :hover{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}
.batan button{
    background-color: #ffca28;
            color: rgb(138, 127, 127);
            border-radius: 20px;
            border: none;
            font-size: 12px;
            cursor: pointer;
            align-items: center;
            margin-top: 10px;
            padding: 5px;
}
.pipes{
    text-align: center;
    color: rgb(61, 38, 38);
    font-weight: 400;
    font-size: 25px;   
}
.pipespics{
    background-color: rgb(105, 102, 102);
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 5px;
}
.pipesfittngs{
    text-align: center;
    color: rgb(237, 222, 222);
    line-height: 1px;   
    padding-bottom: 10px;
}
.pipesfittngs img{
    height: 200px;
    margin-top: 10px;
    border-radius: 120px;
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
}
.abbbout{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.abbbout img{
    height: 500px;
    padding: 40px;
    filter: drop-shadow(1px 1px 40px yellow);
}
.abtuss h1{
 color: rgb(76, 68, 56);
 font-family: "Poppins", sans-serif;
    font-weight: 1000;
    margin-top: 30px;
}
.abtuss img{
    height: 150px;
    border-radius: 200px;
    cursor: pointer;
}
.abtuss p{
    color: rgb(59, 76, 25);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-right: 20px;
}
.faam{ 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    min-height: 300px;
    background:url(https://images.signaturehardware.com/i/signaturehdwr/summer23-powder-room-hero) no-repeat;
    background-position: center;
    background-size: cover;

}
.fooorm{ 
width: 430px;
padding: 80px 40px;
background: transparent;
backdrop-filter: blur(20px);
box-shadow: 0 0 10px rgb(17, 13, 13);
border-radius: 10px; 

}
.fooorm h1{
    text-align: center;
    font-size: 36px;
    color: #000c03;
    font-weight: 1000;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;


}
 .fooorm .inpt{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 20px 0;
}
.inpt input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
}
.inpt textarea{
    width: 100%;
    height: 160%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
}
.inpt input::placeholder{
    color:rgba(17, 7, 7, 0.814);
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Poppins", sans-serif;;
}
.inpt textarea::placeholder{
    color: rgba(17, 7, 7, 0.814);
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}
.message{
    margin-left: 20px;
    text-align: center;
    line-height: 1px;
    text-transform: uppercase;
    color: rgb(53, 55, 56);
    font-family: "Poppins", sans-serif;
}
.message p{
    font-size: 35px;
    font-weight: 700;
}
.map{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.map img{
    height: 400px;
    padding: 40px;
    filter: drop-shadow(1px 1px 40px rgb(108, 181, 92));
}
.last{
    margin-left:  50px; 
    margin-top: 30px;
}
.last h3{
    color: rgb(76, 68, 56);
 font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-size: 25px;
    
}
.last p {
    color: rgba(54, 61, 104, 0.747);
    font-family: "Poppins", serif;
    line-height: 1px;
    font-size: 25px;
}




